.aside {
  display: flex;
  flex-direction: column;
  width: 29%;
  height: 100vh;
  padding-left: 20px;
}

.aside > h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

.top-posts {
  display: flex;
  width: 100%;
  align-items: baseline;
  margin: 12px 0;
}

.post-number {
  font-size: .7rem;
  margin-right: 10px ;
  text-align: center;
  color: white;
  padding: 4px 6px;
  background: var(--brown-dark);
}

.top-posts a {
  line-height: 1.3rem;
  font-size: .8rem;
  text-decoration: none;
  color: var(--black);
}

.top-posts a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width:1024px) {
  .aside {
    width: 100%;
  }
}