.aside {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 1em;
}

.aside > h4 {
  margin-top: 0;
  margin-bottom: .5em;
}

.top-posts {
  display: flex;
  width: 100%;
  align-items: baseline;
  margin: 10px 0;
}

.post-number {
  font-size: .8em;
  font-weight: 700;
  margin-right: 1em ;
  text-align: center;
  color: azure;
  padding: 0.25em .5em;
  background: var(--brown-dark);
}

.top-posts a {
  line-height: 2em;
  font-size: .9em;
}

.top-posts a:hover {
  cursor: pointer;
  text-decoration: underline;
}