.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 16px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin: 16px 0;
  background-color: var(--grey);
  border-radius: 5px;
}

.search-container:focus-within {
  background-color: white;
}

.searchbox {
  font-size: .8rem;
  border: none;
  width: 90%;
  height: 100%;
  padding-left: 10px;
  background-color: transparent;
}

.searchbox:focus {
  outline: none;
}

.fa-search {
  color: var(--brown-dark);
  width: 10%;
  padding-right: 10px;
  text-align: right;
}

.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  width: 100%;
}

.mobile-nav-menu button {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: right;
  color: white;
  height: 50px;
  font-size: 1rem;
}

.mobile-nav-menu button:hover {
  background: black;
  cursor: pointer;
}

.category {
  padding-right: 22px;
}