.App-header {
  position: fixed;
  top: 0;
  background-color: var(--brown);
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-brand {
  width: 16%;
  height: 100%;
}

.nav-brand h2 {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  height: 60px;
}

.search-container {
  display: flex;
  align-items: center;
  height: 70%;
  width: 69%;
  background-color: var(--grey);
  border-radius: 5px;
}

.search-container:focus-within {
  background-color: white;
}

.searchbox {
  font-size: 1em;
  font-weight: 700;
  border: none;
  height: 100%;
  width: 95%;
  padding: 0 1em;
  background-color: transparent;
}

.searchbox:focus {
  outline: none;
  background-color: none;
}

.fa-search {
  color: var(--brown-dark);
}

.nav-menu {
  display: flex;
  width: 28%;
  height: 100%;
  font-size: .9em;
  text-align: center;
}

.nav-menu button {
  color: white;
  font-size: .8rem;
  border: none;
  height: 100%;
  background: none;
  width: auto;
  flex-grow: 1;
  padding: 1em;
}

.nav-menu button:hover,
.dropdown:hover {
  cursor: pointer;
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  flex-grow: 1;
}

.dropdown-content {
  position: absolute;
  background-color: var(--black);
  min-width: 200px;
  z-index: 1;
  text-align: start;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown-content menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown-content li {
  color: white;
  padding: 16px 16px;
  list-style: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: black;
  cursor: pointer;
}