.App-header {
  position: fixed;
  top: 0;
  background-color: var(--brown);
  color: white;
  width: 100%;
}

.nav {
  height: 60px;
}

.nav-brand {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-brand h2 {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  height: 100%
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 69%;
  height: 75%;
  background-color: var(--grey);
  border-radius: 5px;
}

.search-container:focus-within {
  background-color: white;
}

.searchbox {
  font-size: 1em;
  border: none;
  width: 90%;
  height: 100%;
  padding: 0 1em;
  background-color: transparent;
}

.searchbox:focus {
  outline: none;
  background-color: none;
}

.fa-search {
  color: var(--brown-dark);
  width: 8%;
  text-align: center;
}

.nav-menu {
  display: flex;
  width: 28%;
  height: 100%;
  font-size: .9em;
  text-align: center;
}

.navbar button {
  color: white;
  font-size: .8rem;
  border: none;
  height: 100%;
  background: none;
  width: auto;
  flex-grow: 1;
  padding: 1em;
}

.navbar button:hover,
.dropdown:hover {
  cursor: pointer;
  background-color: black;
}

.dropdown {
  position: relative;
  flex-grow: 1;
}

.dropdown-content {
  position: absolute;
  background-color: var(--black);
  min-width: 200px;
  text-align: start;
  display: hidden;
  opacity: 0;
  transition: 1s;
}

.dropdown-content menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content li {
  color: white;
  padding: 16px 16px;
  list-style: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: black;
  cursor: pointer;
}

@media only screen and (max-width:1024px) {
  .nav, .navbar {
    flex-direction: column;
  }
  
  .dropdown-content {
   display: block;
  }
  
  .nav-brand {
    width: 100%;
  }

  .nav-brand {
    height: 60px;
  }
  
  .search-container {
    height: 45px;
  }

  .nav-menu {
    width: 70%;
  }
}

@media only screen and (max-width: 576px) {
  .nav-menu, .search-container {
    width: 100%;
  }
}