.main-content {
  border-right: 1px solid var(--grey);
  width: 71%;
  padding-right: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.post-main {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 36px;
}

.post-main h1 {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 1.7rem;
}

.posts h3 {
  margin-top: -14px;
  width: 140px;
  background: white;
  font-size: 1.35rem;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  flex-direction: column;
}

.comment, .reply {
  display: flex;
  margin: 5px 0;
}

.comment .avatar {
  width: 80px;
  height:  80px;
}

.comment .avatar img {
  width: 100%;
  height: 100%;
}

.comment-body {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.user-name {
  font-weight: 700;
}

.dateTime, .vote-action p {
  font-size: .7rem;
}

.reply {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.reply .avatar {
  width: 50px;
  height: 50px;
}

.reply .avatar img {
  width: inherit;
  height: inherit;
}

.vote-action {
  display: flex;
  align-items: center;
  margin: 14px 0;
}

.vote-action button {
  color: var(--black);
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 8px;
  border: none;
  display: flex;
  align-items: center;
  background: var(--grey-light);
}

.upvote-btn:hover,
.vote-action .upvoted {
  color: white;
  background-color: var(--green);
}


.downvote-btn:hover,
.vote-action .downvoted {
  color: white;
  background-color: var(--red); 
}

.vote-action button:hover {
  cursor: pointer;
}

@media only screen and (max-width:1024px) {
  .main-content {
    width: 100%;
    border: none;
  }

  .main-content {
    padding: 0;
  }
}

@media only screen and (max-width:768px) {
  .comment .avatar {
    width: 50px;
    height: 50px;
  }
}