.main-content {
  border-right: 1px solid rgb(218, 218, 218)
}

.posts {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.posts > h2 {
  margin-top: -18px;
  width: 140px;
  background: white;
}

.post-main {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 30px;
}

.post-main h1 {
  margin-top: 0;
  font-size: 2em;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}

.comment, .reply {
  display: flex;
  margin: 5px 0;
}

.avatar {
  width: 100px;
  height: auto;
}

.comment-body {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.user-name {
  font-weight: 700;
}

.dateTime {
  font-size: .7em;
}

.reply {
  display: flex;
  flex-direction: column;
}

.reply .avatar {
  width: 60px;
}

.vote-action {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.vote-action p {
  margin: 0;
}

.vote-action .points {
  margin-right: .5em;
}

.vote-action button {
  color: var(--black);
  padding: 0;
  width: 25px;
  height: 25px;
  margin-left: .2em;
  border: none;
  background: var(--grey);
}

.upvote-btn:hover,
.vote-action .upvoted {
  color: white;
  background-color: var(--green);
}


.downvote-btn:hover,
.vote-action .downvoted {
  color: white;
  background-color: var(--red); 
}

.vote-action button:hover {
  cursor: pointer;
}

@media only screen and (max-width:1024px) {
.main-content {
  border: none;
}
}

@media only screen and (max-width:768px) {
  .avatar {
    width: 60px;
  }
}