h3, p {
  margin: 0;
}

p {
  line-height: 2em;
  font-size: .9em;
}

.main-content {
  border-right: 1px solid rgb(218, 218, 218)
}

.container {
  width: 78%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top:  100px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
  
.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
}

@media (max-width:539px) {
  .modalContent {
    left: 0;
  }
}

