p {
  margin: 0;
  line-height: 1.4rem;
  font-size: .8rem;
}

.container {
  width: 72%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
}

/* styles for form modal */

.formModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  animation-duration: .8s;
}
  
.formModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  animation-name: fadeIn;
  animation-duration: .8s;
}

.formModalOverlayClose {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeOut;
  animation-duration: .8s;
}
  
.formModalContentClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  animation-name: fadeOut;
  animation-duration: .8s;
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0;}
}

/* styles for mobile nav menu */

.mobilenavOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
.mobilenavContent {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background: var(--black);
  animation: slide-left 800ms;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  animation-name: slide-left;
  animation-duration: .8s;
}

.mobilenavOnCloseContent {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background: var(--black);
  animation: slide-left 800ms;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  animation-name: slide-right;
  animation-duration: .8s;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* breakpoints */

@media only screen and (max-width:1024px) {
  .container {
    width: 90%;
    flex-direction: column;
  }
}

@media only screen and (max-width:768px) {
  .formModalContent, .formModalContentClose {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px; 
  }
}