h3, p {
  margin: 0;
}

p {
  line-height: 2em;
  font-size: .9em;
}

.container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
}

.main-content {
  border-right: 1px solid rgb(218, 218, 218)
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  animation-duration: .8s;
}
  
.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  animation-name: fadeIn;
  animation-duration: .8s;
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}

@media only screen and (max-width:1024px) {
  .container {
    width: 95%;
    flex-direction: column;
    height: auto;
  }
}

@media only screen and (max-width:576px) {
  .main-content {
    width: 100%;
  }
}