@font-face {
  font-family: 'Sans-Web';
  src: local('Sans-web'),url(./fonts/PT_Sans-Web-Regular.ttf) format('trutype');
}

body {
  margin: 0;
  font-family: 'Sans-Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brown: #71695F;
  --brown-dark: #635C53;
  --green: #33B95A;
  --red: #FF5F2D;
  --grey: #DDDDDD;
  --grey-light: #EEEEEE;
  --black: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  height: auto;
}
