.login-form-container {
  padding: 20px;
  width: fit-content;

}

.login-form,
.comment-form {
  width: fit-content;
}

.comment-form {
  padding-bottom: 40px;
}

.login-form {
  background: white;
  padding: 20px;
}

.login-form h2 {
  margin-top: 0;
}

.comment-form > h3 {
  margin: 1.5em 0;
  margin-top: -14px;
  width: 220px;
  background: white;
}

.close-modal {
  text-align: right;
  margin-bottom: -16px;
  margin-right: -12px;
}

.close-modal span {
  color: white;
  font-weight: 700;
  padding: 6px 10px;
  background: var(--red);
}

.close-modal span:hover {
  cursor: pointer;
}

.form-control {
  margin-bottom: 1.5rem;
}

.form-control input,
.form-control label,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  font: inherit;
  padding: .7rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 30rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}

.form-control textarea {
  height: 6rem;
}

.form-actions {
  text-align: left;
}

.form-actions button,
.comment-form-actions button {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font: inherit;
}

.form-actions button {
  color: white;
  border: 1px solid var(--brown-dark);
  background-color: var(--brown-dark);
}

.comment-form {
  width: 100%;
  padding-right: 1em;

}

.comment-form .form-control {
  width: 60%;
}

.comment-form input, 
.comment-form textarea {
  width: 100%;
}

.comment-form-actions .reset-comment {
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--black);
}

.comment-form-actions .submit-comment {
  background-color: var(--brown-dark);
  border: 1px solid var(--brown-dark);
  color: white;
  margin-left: .5rem;
}

.form-actions button:active {
  background-color: var(--brown-dark);
  border-color: var(--brown-dark);
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  cursor: not-allowed;
}

.invalid input,
.invalid textarea {
  border: 1px solid var(--red);
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: var(--red);
}

.valid input,
.valid textarea {
  border: 1px solid var(--green); 
}

.error-text {
  color: var(--red);
}

@media only screen and (max-width:768px) {
  .comment-form .form-control {
    width: 100%;
  }
}